<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title>Node Authentication</title>
        <!-- load bootstrap css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- load fontawesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {padding-top: 80px; word-wrap: break-word;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Node Authentication</h1>
                <p>Login or Register with:</p>
                <a href="/auth/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/auth/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>
        </div>
    </body>
</html>
